.headerWrapper {
  width: 100%;
}

.headerWrapper__primary {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 70px;
  z-index: 50;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.03);
  margin-top: 0;
  padding: 0 0 0 80px !important;
}

.headerWrapper__left {
  display: flex;
  width: 50% !important;
  height: 100%;
  align-items: center;
}

.headerWrapper__right {
  justify-content: flex-end;
  padding-right: 50px;
  display: flex;
  width: 50% !important;
  height: 100%;
  align-items: center;
}

.promoCard {
  border-right: 1px solid #eee;
  padding: 0 10px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.promoCard__card {
  border-radius: 4px;
  padding: 8px 8px 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.promoCard__iconWrapper {
  display: inline-block;
  width: 40px;
  height: 30px;
  border-radius: 2px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
}

.promoCard__contentWrapper {
  display: inline-block;
  width: calc(100% - 50px);
  margin-left: 7px;
  white-space: nowrap;
}

.promoCard__text {
  font-size: 14px;
  color: #000;
  margin-bottom: 2px;
}

.promoCard__subtext {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.languageButton {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
  border-right: 1px solid rgb(238, 238, 238);
  height: 100%;
  padding: 0px 20px;
  cursor: pointer;
}

.authButton {
  height: 100%;
  padding: 0 20px 0 4px;
  margin-left: 12px;
  border: 1px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authButton__Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.authButton__iconWrapper {
  display: inline-block;
  width: 40px;
  height: 30px;
}

.authButton__contentWrapper {
  display: inline-block;
  width: calc(100% - 52px);
  margin-left: 4px;
  white-space: nowrap;
}

.authButton__text {
  color: #222;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 2px;
}
