.searchContainer {
  background-image: url("https://assets.oyoroomscdn.com/cmsMedia/c4dbdea0-498a-4aeb-bdd0-736557fbb06e.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  padding: 10px 0 32px;
  margin-bottom: 18px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 16rem;
}

.searchWrapper {
  width: 70vw;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
  margin: 0 auto;
}

.searchWrapper__tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  margin: 16px 0;
  text-align: center;
}